%h1= "Listing users (#{@users.length})"

- unless current_user
  %h3
    You need to log in to search within users!
    
- else
  %h2
    Search:
  - @user = User.new(:start_date=>Date.today)
  - simple_form_for @user, :url => search_users_path, :html=>{:method=>:get} do |f|
    %label
      = check_box_tag 'include_subcategories'
      include subcategories
    =# f.association :categories, :as => :check_boxes
    =# f.input :start_date, :include_blank => true
    =# f.input :end_date, :include_blank => true
  
    %label
      Search users within/in
      = select_tag 'region', options_for_select([['worldwide', 'none'], [current_user.country, 'country'], ['50km', '50'], ['500km', '500'], ['2000km', '2000'], ['5000km', '5000']])
    %br
    %label
      Search term
    = text_field_tag 'search_term'
    %br
    = submit_tag 'Search'


- if @users.blank?
  %h3
    No users found!
    
- else
  = will_paginate @users
  %br
  
  %table
    %tr
      %th Name
      %th Email 
      %th Full name
      %th Contact status
      %th Town
      %th Country
      %th &nbsp;

    - @users.each do |user|
      %tr
        %td= user.username
        %td
          - if current_user.is_in_contact_with?(user)
            = user.email 
          - else
            hidden
            
        %td
          - if current_user.is_in_contact_with?(user)
            = user.fullname
          - else
            hidden
          
        %td
          - if current_user.is_in_contact_with?(user)
            connected
          - else
            not connected
        
        %td= user.town
        %td= user.country
        
        %td
          = link_to 'Show', resource_path(user)

  = will_paginate @users