.inputs
  = f.input :name
  =# f.input :series_id
  = f.input :start_date
  = f.input :end_date
  = f.input :description
  = f.input :location
  = f.input :gps, :label => 'GPS data'
  = f.input :venue
  = f.input :accomodation
  = f.input :howtofind
  = f.association :categories, :as => :check_boxes