- if @conferences.blank?
  %h3
    No conferences found!
    
- else
  = will_paginate @conferences
  %br
  
  %table
    %tr
      %th Name
      %th Start date
      %th End date
      %th Creator user
      %th Location
      %th
        Actions

    - @conferences.each do |conference|
      %tr{ :class => cycle("even", "odd") }
        %td= conference.name
        %td= conference.start_date
        %td= conference.end_date
        %td= conference.creator.username
        %td= conference.location
        %td
          = link_to 'Show', resource_path(conference) 
        
          - if can? :edit, conference
            \|
            = link_to 'Edit', edit_resource_path(conference)
        
          - if can? :destroy, conference
            \|
            = link_to 'Destroy', resource_path(conference), :confirm => 'Are you sure?', :method => :delete
  
  = will_paginate @conferences