%h1= "Listing conferences (#{@conferences.length})"

= link_to 'Search for conferences', search_conferences_path
%br
%br

- if current_user
  .main-actions
    = link_to 'New Conference', new_resource_path

= render :partial => 'list'
