%h1= "Listing conferences (#{@conferences.length})"

.main-actions
  = link_to 'New Conference', new_resource_path




%table
  %tr
    %th Version
    %th Name
    %th Creator user
    %th Series
    %th Start date
    %th End date
    %th Description
    %th Location
    %th Gps
    %th Venue
    %th Accomodation
    %th Howtofind
    %th
      Actions

  - @conferences.each do |conference|
    %tr
      %td= conference.lock_version
      %td= conference.name
      %td= conference.creator_user_id
      %td= conference.series_id
      %td= conference.start_date
      %td= conference.end_date
      %td= conference.description
      %td= conference.location
      %td= conference.gps
      %td= conference.venue
      %td= conference.accomodation
      %td= conference.howtofind
      %td
        = link_to 'Show', resource_path(conference)
        \|
        = link_to 'Edit', edit_resource_path(conference)
        \|
        = link_to 'Destroy', resource_path(conference), :confirm => 'Are you sure?', :method => :delete
