%h1= "Listing conferences (#{@conferences.length})"

- unless current_user
  %h3
    You need to log in to search within conferences!
    
- else
  %h2
    Search:
  - @conference = Conference.new(:start_date=>Date.today)
  - simple_form_for @conference, :url => search_conferences_path, :html=>{:method=>:get} do |f|
    %label
      = check_box_tag 'include_subcategories'
      include subcategories
    = f.association :categories, :as => :check_boxes
    = f.input :start_date, :include_blank => true
    = f.input :end_date, :include_blank => true
  
    %label
      Search conferences within/in
      = select_tag 'region', options_for_select([['worldwide', 'none'], [current_user.country, 'country'], ['50km', '50'], ['500km', '500'], ['2000km', '2000'], ['5000km', '5000']])
    %br
    %label
      Search term
    = text_field_tag 'search_term'
    %br
    = submit_tag 'Search'
  
= render :partial => 'list'