%h1
  = "Conference '#{@conference.name}'"

- if can? :edit, @conference
  = link_to 'Edit this conference', edit_resource_path(@conference)
  \|
  
= link_to 'Back to conferences list', collection_path


%h2
  Conference data
  
%p
  %strong
    Creator:
  = @conference.creator.username
  = surround '(', ')' do
    = @conference.creator.email

%p
  %strong Conference series:
  =# @conference.series.name if @conference.series

%p
  %strong Categories:
  = @conference.categories.map(&:name).to_sentence

%p
  %b Start date:
  = @conference.start_date
%p
  %b End date:
  = @conference.end_date

%p
  %strong Description:
  = @conference.description

%p
  %strong Location:
  = @conference.location

%p
  %strong Venue:
  = @conference.venue

%p
  %strong Accomodation:
  = @conference.accomodation

%p
  %strong Howtofind:
  = @conference.howtofind


%h2
  Attendees

- if current_user.attends?(@conference)
  - if current_user.id==@conference.creator.id
    You're the creator of this conf, so you have to attend...
  -else
    = link_to "Nope, I don't want to attend this conference", conference_attendances_delete_path(@conference, current_user.username), :method => :delete, :remote => true, :confirm => "Do you really want to cancel your attendance to this conference?"
- else
  = link_to "Sign up for this conference", conference_attendances_path(@conference, :user => { :username => current_user.username}), :method => :post, :remote => true, :confirm => "Do you really want to sign up for this conference?"
  %br
  %br
- unless @conference.attendances.blank?
  %ul
    - @conference.attendances.each do |attendance|
      %li
        = link_to attendance.user.username, member_path(attendance.user)
        - if current_user.is_in_contact_with?(attendance.user) || @conference.creator == current_user
          \-
          = attendance.user.fullname
          = surround '(', ')' do
            = attendance.user.email
- else
  %strong
    Nobody attends this conference!


%h2
  Export
= link_to "Export as ical", conference_ical_path(:conference_id=>@conference.id)
%br
= link_to "Export as pdf", conference_pdf_path(:conference_id=>@conference.id)
%br
= link_to "Get as RSS", conference_feed_path(:conference_id=>@conference.id, :format=>:rss)


%h2
  Invite your contacts
%ul
- @my_contacts.each do |user|
  %li[user]
    = user.fullname
    = link_to "invite", notifications_path(:conference_id=>@conference.id, :user_id=>user.id), :method=>:post, :remote=>true

%h2
  Invite others
%strong
  You can invite other (also unregistered) users. Use a new line for each email
  - form_tag conferences_invite_via_email_path(@conference) do
    = text_area_tag "contacts","", :size=>"100x3"
    = submit_tag "Absenden"
