%h1
  = "Conference '#{@conference.name}'"

- if can? :edit, @conference
  = link_to 'Edit this conference', edit_resource_path(@conference)
  \|
  
= link_to 'Back to conferences list', collection_path


%h2
  Conference data
  
%p
  %strong
    Creator:
  = @conference.creator.username
  = surround '(', ')' do
    = @conference.creator.email

%p
  %strong Conference series:
  =# @conference.series.name if @conference.series
  
%p
  %b Start date:
  = @conference.start_date
%p
  %b End date:
  = @conference.end_date

%p
  %strong Description:
  = @conference.description

%p
  %strong Location:
  = @conference.location

%p
  %strong Venue:
  = @conference.venue
%p
  %strong Accomodation:
  = @conference.accomodation
%p
  %strong Howtofind:
  = @conference.howtofind


%h2
  Attendees


- unless @conference.attendances.blank?
  %ul
    - @conference.attendances.each do |attendance|
      %li
        = attendance.user.username
        = surround '(', ')' do
          = attendance.user.email
- else
  %strong
    Nobody attends this conference!
    
    
    
    
    

