.inputs
  =# f.input :category_id, :collection => Category.all.collect{ |c| [c.name, c.id] }
  = f.input :name
  = f.input :start_date, :include_blank => true
  = f.input :end_date, :include_blank => true
  = f.input :location
  = f.input :lat, :label => 'Location latitude'
  = f.input :lng, :label => 'Location longitude'
  = f.input :venue
  = f.input :accomodation
  = f.association :categories,   :as => :check_boxes
  = f.input :description
  = f.input :howtofind, :label => 'How to find the conference'
