%h1= "Listing conferences (#{@conferences.length})"

.main-actions
  = link_to 'New Conference', new_resource_path

%table#conferences
  %tr
    %th Name
    %th Location
    %th
      Actions

  - @conferences.each do |conference|
    %tr
      %td= conference.name
      %td= conference.location
      
      %td
        = link_to 'Edit', edit_resource_path(conference)
        \|
        = link_to 'Destroy', resource_path(conference), :confirm => 'Are you sure?', :method => :delete
