%h1= "Listing conferences (#{@conferences.length})"

.main-actions
  = link_to 'New Conference', new_resource_path
  
.search-form
  - form_for :conference, :url => collection_path, :html => { :method => :get } do |f|
    %label 
      Search term: 
      = f.text_field :search_term, :value => @search_term
    = f.submit :search

%hr

%table#conferences
  %tr
    %th Name
    %th Location
    %th
      Actions

  - @conferences.each do |conference|
    %tr{:class => cycle("even", "odd")}
      %td= conference.name
      %td= conference.location
      
      %td
        = link_to 'Edit', edit_resource_path(conference)
        \|
        = link_to 'Destroy', resource_path(conference), :confirm => 'Are you sure?', :method => :delete
