%h1
  Welcome
  = current_user.fullname
  , this is your Status page

.profile
  %ul
    %li
      Email:
      = current_user.email
    %li
      Full name:
      = current_user.fullname
    %li
      Town:
      = current_user.town
    %li
      Country:
      = current_user.country
    %li
      GPS:
      = current_user.gps


.things-to-do
  %h3 Possible next steps
  
  %ul
    %li= link_to 'Create a new conference', new_conference_path
    %li= link_to "View your location on Google Maps", "http://maps.google.com?z=9&ll=#{@current_user.lat},#{@current_user.lat}" if @current_user.lat && @current_user.lng
    %li= link_to('Edit your profile', edit_user_registration_path)
    %li= link_to "Search for other members", members_path

.notificatons
  %h3 Your nofitications
  %ul
    - @notifications.each do |n|
      %li[n]
        -# id=notification_12 class=notification
        = n.text
        = link_to "delete notification", notification_path(n, :read=>true), :remote=>true, :method=>:put

.members2.in_contact
  %h3 Other users, you're in contact with:
  %ul
    - @rcds_in_contact.each do |rcd|
      %li= render_user_link_by_rcd_status rcd

.members2.in_contact
  %h3 Other users, you've requested an RCD:
  %ul
    - @sent_rcds.each do |rcd|
      %li= render_user_link_by_rcd_status rcd

.members2.in_contact2
  %h3 Other users, from you've received an RCD:
  %ul
    - @received_rcds.each do |rcd|
      %li
        = render_user_link_by_rcd_status rcd
        = link_to "accept", add_contacts_path(:username=>rcd.get_other(current_user).username, :positive=>"true"), :remote=>true, :method=>:post
        \/
        = link_to "reject", add_contacts_path(:username=>rcd.get_other(current_user).username, :positive=>"false"), :remote=>true, :method=>:post
        invitation

.calendars
  %h3 Calendars
  %strong You've signed up for the following conferences:
  %h5 Default-Personal Calendar
  %ul
    - @attending_conferences.each do |c|
      %li= render_conference_link c
    
  %h5 Calendar of conferences in your town
  %ul
    - Conference.where("venue LIKE ?","%"+current_user.town+"%").each do |c|
      %li= render_conference_link c

- unless current_user.gps.blank?
  - [50,500,2000,5000].each do |km|
    %h5
      Calendar of conferences within
      = km
      kilometers
    %ul
      - Conference.within(km, :origin=>current_user.gps).each do |c|
        %li= render_conference_link c

