%h1
  Welcome
  = current_user.fullname
  , this is your Status page

.profile
  %ul
    %li
      Email:
      = current_user.email
    %li
      Full name:
      = current_user.fullname
    %li
      Town:
      = current_user.town
    %li
      Country:
      = current_user.country
    %li
      GPS:
      = current_user.gps

.edit_reg
  You can edit your profile status
  = link_to('here', edit_user_registration_path)

.maps.link
  = link_to "Your location on Google Maps", "http://maps.google.com" #TODO

.notificatons
  %h3 Your nofitications
  %ul
  - @notifications.each do |n|
    %li[n]
      -# id=notification_12 class=notification
      = n.text
      = link_to "delete notification", notification_path(n, :read=>true), :remote=>true, :method=>:put

.members.in_contact
  %h3 Other users, you're in contact with:
  %ul
  - @users_in_contact.each do |u|
    %li= render_user_link u

.members.in_contact
  %h3 Other users, you've requested an RCD for:
  %ul
  - @sent_rcds.each do |rcd|
    %li= render_user_link_by_rcd_status rcd

.members.in_contact
  %h3 Other users, from you've received an RCD:
  %ul
  - @received_rcds.each do |rcd|
    %li
      = render_user_link_by_rcd_status rcd
      = link_to "accept invitation", :controller=>:contacts, :action=>:add, :username=>rcd.get_other(current_user).username


.attendances
  %h3 Personal Calendar
  You've signed up for the following conferences:
  %ul
  - @attending_conferences.each do |c|
    %li= render_conference_link c
    
