%h1 Editing <%= singular_table_name %>

= simple_form_for(@<%= singular_name %>, :url => resource_path(@<%= singular_name %>)) do |f|
  = # render 'layouts/error_messages'
  
  = render 'form', :f => f
  
  .actions
    = f.submit 'Update'
    or
    = link_to 'back', collection_path
