%h1
  Welcome to CaP - Conferences and Participants

%h4
  this is the application of team LessCode by Heiko Seebach, Florian Gilcher and Stefan Botzenhart

%hr

.member_stats
There are
= User.count
members signed up and
= Conference.count
conferences available
%hr

- if @current_category
  %h4
    = "You are in category '#{@current_category.name}'"

  %h5
    Back to
    - if @current_category.parent
      = link_to @current_category.parent.name
    - else
      = link_to "Main page", "/"

- if @categories.any?
.categories
  %h2
    = @current_category.nil? ? 'Categories' : 'Subcategories'
  %ul
    - if @categories.blank? && @current_category
      %li= "No subcategories for '#{@current_category.name}'"
    -else 
      - @categories.each do |category|
        %li= link_to category.name, category

.conferences
  %h2
    Conferences
  %ul
    - @conferences.each do |conf|
      %li= link_to conf.name, conf

.conferences.running
  %h2
    Running conferences
  - if @running_conferences.blank?
    %p
      %strong No running conferences
  -else
    %ul
      - @running_conferences.each do |conf|
        %li= link_to conf.name, conf

.conferences.upcoming
  %h2
    Conferences starting tomorrow
  - if @upcoming_conferences.blank?
    %p
      %strong No conferences starting tomorrow
  -else
    %ul
      - @upcoming_conferences.each do |conf|
        %li= link_to conf.name, conf

.conferences.upcoming
  %h2
    Conferences starting next week
  
  - if @nextweek_conferences.blank?
    %p
      %strong No upcoming conferences next week
  -else
    %ul
      - @nextweek_conferences.each do |conf|
        %li= link_to conf.name, conf

