%h1= "Listing users (#{@users.length})"
  
.search-form
  - form_for :user, :url => collection_path, :html => { :method => :get } do |f|
    %label 
      Search term: 
      = f.text_field :search_term, :value => @search_term
    = f.submit :search

%hr

%table
  %tr
    %th Username
    %th Email
    %th Full name
    %th Admin?
    %th
      Actions

  - @users.each do |user|
    %tr[user]{:class => cycle("even", "odd")}
      %td= user.username
      %td= user.email
      %td= user.fullname
      %td= user.is_admin?
      %td
        = link_to 'Edit', edit_resource_path(user)
        \|
        = link_to 'Destroy', resource_path(user), :confirm => 'Are you sure?', :method => :delete
