%h1= "Listing member_of_series (#{@member_of_series.length})"

.main-actions
  = link_to 'New Member of series', new_resource_path

%table
  %tr
    %th Series
    %th User
    %th
      Actions

  - @member_of_series.each do |member_of_series|
    %tr
      %td= member_of_series.series_id
      %td= member_of_series.user_id
      %td
        = link_to 'Show', resource_path(member_of_series)
        \|
        = link_to 'Edit', edit_resource_path(member_of_series)
        \|
        = link_to 'Destroy', resource_path(member_of_series), :confirm => 'Are you sure?', :method => :delete
