%p#notice= notice

%p
  %b Series:
  = @member_of_series.series_id
%p
  %b User:
  = @member_of_series.user_id

= link_to 'Edit', edit_member_of_series_path(@member_of_series)
\|
= link_to 'Back', member_of_series_index_path
