%h1= "Listing series (#{@series.length})"

.main-actions
  = link_to 'New Series', new_resource_path

%table
  %tr
    %th Name
    %th
      Actions

  - @series.each do |series|
    %tr
      %td= series.name
      %td
        = link_to 'Show', resource_path(series)
        \|
        = link_to 'Edit', edit_resource_path(series)
        \|
        = link_to 'Destroy', resource_path(series), :confirm => 'Are you sure?', :method => :delete
