%h1= "Listing series (#{@series.length})"

%table#series
  %tr
    %th Name
    %th
      Actions

  - @series.each do |series|
    %tr[series]{ :class => cycle("even", "odd") }
      %td= series.name
      
      %td
        = link_to 'Show conferences', series_conferences_path(series)
        - if can? :edit, series
          \|
          = link_to 'Edit', edit_resource_path(series)
        - if can? :destroy, series
          \|
          = link_to 'Destroy', resource_path(series), :confirm => 'Are you sure?', :method => :delete
