%h1 New series

= simple_form_for(@series, :url => collection_path) do |f|
  = # render 'layouts/error_messages'
  
  = render 'form', :f => f
  
  .actions
    = f.submit 'Create'
    or
    = link_to 'cancel', collection_path
