%h1
  = "User '#{@member.username}'"
  
= link_to 'Back to users list', collection_path


%h2
  User data
  
%p
  %strong
    Username
  = @member.username

%p
  %strong
    Full name
  - if current_user.is_in_contact_with?(@member)
    = @member.fullname
  - else
    hidden
  
%p
  %strong
    Email
  - if current_user.is_in_contact_with?(@member)
    = @member.email 
  - else
    hidden

%p
  %strong Town
  = @member.town

%p
  %strong Country
  = @member.country

%h2
  Contact status

- if current_user.is_in_contact_with?(@member)
  = "You are in contact with #{@member.fullname}"
- elsif current_user.is_in_received_or_sent_status_with?(@member)
  = "You are about to get in contact with #{@member.fullname}. Pease wait, until the user responds to your request."
- else
  = link_to "Request details for this contact", add_contacts_path(:uname=>@member.username, :positive=>"true"), :remote=>true, :method=>:post
